.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 18px;
  padding: 0 6px;
  color: black;
  font-weight: 500;
  width: 32px;
  padding: 0;
  vertical-align: middle;
  margin-right: 10px;
}

ul.pagination li:hover {
  background-color: rgb(235, 235, 235);
}

ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
  display: none;
}

ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
  display: none;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}

ul.pagination li.active {
  background-color: #35c5f0;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: black;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

