*{
    font-family: 'Nanum Gothic', sans-serif;
}

section.container {
    margin-top: 120px;
}

hr {
    margin: 0px;
    margin-top: 70px;
    padding: 0px;
    height: 1px;
    border: none;
    background-color: rgb(234, 237, 239);
}

.container header {
    margin-bottom: 70px;
}

.imgBox p{
    font-size: 20px;
    font-weight: bold;
}
.imgBox{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgBox img {
    width: 240px;
    height: 240px;
    cursor: pointer;
}
.imgBox img:hover {
   width: 260px;
   height: 260px;
   transition: width 0.3s ease-in-out 0.0s;
   transition: height 0.1s ease-in-out 0.0s;
}

.home-section__header p {
    font-size: 30px;
    font-weight: bold;
}

.todayStoryBox{
    display: flex;
    justify-content: center;
    align-items: center;
}